<div class="d-flex flex-column outer-div">
  <div class="d-flex flex-row">
    <img
      class="logo1"
      height="50"
      width="48"
      src="assets/images/Group-14.svg"
    />
    <img height="26" width="108" src="assets/images/Group-11.svg" />
  </div>
  <div class="inner-div">
    <h5>Welcome Musafili</h5>
    <div class="side-data">
      <div>
        <i class="bi bi-house-door" style="color: white"></i
        ><a [routerLink]="['/home']" routerLinkActive="active-li">Dashboard</a>
      </div>
    </div>
  </div>
</div>
